.photo-grid {
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 92px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid {
    gap: 16px;
    margin-top: 88px;
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid {
    margin-top: 64px;
    padding: 0 1rem;
    gap: 12px;
  }
}
