.photo-grid {
  margin: 0 auto;
  margin-top: 92px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
    max-width: 928px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
    margin-top: 88px;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid {
    margin-top: 64px;
    max-width: 288px;
    gap: 12px;
  }
}
