.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    text-align: left;
    margin: 3rem 0 0 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1em;
  }
}
