.footer__item {
  margin-left: 16px;
}
.footer__item:first-child {
  margin-left: 0px;
}
@media screen and (max-width: 767px) {
  .footer__item {
    margin-top: 32px;
  }
  .footer__item:first-child {
    margin-left: 16px;
    margin-top: 64px;
  }
}
