.cover__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06em;
  text-align: center;
  max-width: 560px;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .cover__title {
    max-width: 560px;
  }
}
@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 388px;
    font-size: 32px;
    line-height: 1.09em;
  }
}
