.place {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 48px 40px;
  align-items: start;
  justify-content: center;
  margin-top: 80px;
}
.place:first-child {
  margin-top: 92px;
}
@media screen and (max-width: 1279px) {
  .place {
    gap: 48px 32px;
  }
}
@media screen and (max-width: 1023px) {
  .place {
    gap: 48px 28px;
    margin-top: 73px;
  }
  .place:first-child {
    margin-top: 88px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    /* display: flex; */
    /* flex-direction: column; */
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .place:first-child {
    margin: 0 auto;
    margin-top: 64px;
  }
}
